<!DOCTYPE html>
<html>

<head>
  <title>S&P 500 Stock Quote Analysis App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
  <div class='top'>
    <div>
      <h1>S&P 500 Stock Quotes</h1>
    </div>
    <div>
      <form method="post">
        <input type="text" class="search_field" name="search" value="AAPL">
        <input type="submit" class="button" value="Search Quotes"></input>
      </form>
    </div>
  </div>



  {% block content %}{% endblock %}

  <div class="footer">
    <p>
      <h3>Developed by Michael Strenk</h3>
    </p>
    <a href="https://github.com/MikeStrenk/Stock-Grabber">
      <button class="button">Visit this project on GitHub</button>
    </a>
  </div>

  <script>
    function goBack() {
    window.history.back();
  }
  </script>
</body>

</html>
