{% extends 'base.html' %} {% block content %}

<br>
<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="card bg-light mb-3">
      <div class="card-header">Best Performing Stocks</div>
      <div class="card-body">
        <div class="col">
          {% for company in best_stock_ranking %}
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="card-text">{{ company['Company'] }}</p>
            </div>
            <div class="col-4 col-md-4">
              <p class="card-text" align="right">{{ company['growth'] }}%</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card bg-light mb-3">
      <div class="card-header">Worst Performing Stocks</div>
      <div class="card-body">
        <div class="col">
          {% for company in worst_stock_ranking %}
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="card-text">{{ company['Company'] }}</p>
            </div>
            <div class="col-4 col-md-4">
              <p class="card-text" align="right">{{ company['growth'] }}%</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="card bg-light mb-3">
      <div class="card-header">Performance by Sector</div>
      <div class="card-body">
        <div class="col">
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="card-text">{{ daily_sector_ranking[1]['name'] }}</p>
            </div>
            <div class="col-4 col-md-4">
              <p class="card-text" align="right">{{ daily_sector_ranking[1]['delta'] }}%</p>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="card-text">{{ daily_sector_ranking[2]['name'] }}</p>
            </div>
            <div class="col-4 col-md-4">
              <p class="card-text" align="right">{{ daily_sector_ranking[2]['delta'] }}%</p>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="card-text">{{ daily_sector_ranking[3]['name'] }}</p>
            </div>
            <div class="col-4 col-md-4">
              <p class="card-text" align="right">{{ daily_sector_ranking[3]['delta'] }}%</p>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="card-text">{{ daily_sector_ranking[4]['name'] }}</p>
            </div>
            <div class="col-4 col-md-4">
              <p class="card-text" align="right">{{ daily_sector_ranking[4]['delta'] }}%</p>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <p class="card-text">{{ daily_sector_ranking[5]['name'] }}</p>
            </div>
            <div class="col-4 col-md-4">
              <p class="card-text" align="right">{{ daily_sector_ranking[5]['delta'] }}%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">Stock Market Data Updated {{ best_stock_ranking[0]['date'].strftime('%I:%M %p Central, %A') }}</div>
    </div>
  </div>
</div>
</div>

{% endblock %}
