<!DOCTYPE html>
<html>

<head>
  <title>S&P 500 Stock Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
  <div class="center">
    <h1>S&P 500 Stock Analysis</h1>
  </div>

  <h2>Best Performing Stocks</h2>

  <div class="graph">
    Placeholder for the list of best performing stocks.
    <ol>
      <li>
        {{  best_stock_1  }}
      </li>
      <li>
        {{  best_stock_2  }}
      </li>
      <li>
        {{  best_stock_3  }}
      </li>
      <li>
        {{  best_stock_4  }}
      </li>
      <li>
        {{  best_stock_5  }}
      </li>
    </ol>
  </div>

  <h2>Worst Performing Stocks</h2>

  <div class="graph">
    <div class="graph">
      <div class='ticker'>
        <p> {{  worst_stock_ranking[1]['name']  }} </p>
        <p> {{  worst_stock_ranking[2]['name']  }} </p>
        <p> {{  worst_stock_ranking[3]['name']  }} </p>
        <p> {{  worst_stock_ranking[4]['name']  }} </p>
        <p> {{  worst_stock_ranking[5]['name']  }} </p>
      </div>
      <div class='percent_delta'>
        <p> {{  worst_stock_ranking[1]['delta']  }}% </p>
        <p> {{  worst_stock_ranking[2]['delta']  }}% </p>
        <p> {{  worst_stock_ranking[3]['delta']  }}% </p>
        <p> {{  worst_stock_ranking[4]['delta']  }}% </p>
        <p> {{  worst_stock_ranking[5]['delta']  }}% </p>
      </div>
  </div>

  <h2>Performance by Sector</h2>
  <div class="graph">
    <div class='ticker'>
      <p> {{  daily_sector_ranking[1]['name']  }} </p>
      <p> {{  daily_sector_ranking[2]['name']  }} </p>
      <p> {{  daily_sector_ranking[3]['name']  }} </p>
      <p> {{  daily_sector_ranking[4]['name']  }} </p>
      <p> {{  daily_sector_ranking[5]['name']  }} </p>
    </div>
    <div class='percent_delta'>
      <p> {{  daily_sector_ranking[1]['delta']  }}% </p>
      <p> {{  daily_sector_ranking[2]['delta']  }}% </p>
      <p> {{  daily_sector_ranking[3]['delta']  }}% </p>
      <p> {{  daily_sector_ranking[4]['delta']  }}% </p>
      <p> {{  daily_sector_ranking[5]['delta']  }}% </p>
    </div>
  </div>

  <div class="footer">
    <p>
      <a href="https://github.com/MikeStrenk/Stock-Grabber">Visit this project on GitHub</a>
    <p>
      Created by Michael Strenk
    </p>
    </p>
  </div>

  <script></script>
</body>

</html>
