{% extends 'base.html' %} {% block content %}

<br>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card bg-light md-8">
      <div class="card-header">List of S&P 500 Companies</div>
      <div class="card-body">
        <div class="container">
          <div class="row justify-content-center">
            {% for company in sorted_company_dict %}
            <div class="col-sm-6">
              <a {{ 'href=' + '/{}'.format(company['ticker']) }}>
              <b>{{ company['ticker'] }}</b>: {{ company['name'] }}
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">Stock Market Data Updated {{ date_obj[0]['date'].strftime('%I:%M %p Central, %A') }}</div>
    </div>
  </div>
</div>
<br>
{% endblock %}
