{% extends 'base.html' %} {% block content %}
<br>

<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="card bg-light mb-6">
      <div class="card-header"> {{ stock_data['Ticker'] }}: {{ stock_data['Company'] }} </div>
      <div id="graph" class="card-body" align='center'>

      </div>
      <div class="card-footer text-muted">{{ stock_date }}</div>
    </div>
  </div>
</div>
<br>

<script src="https://d3js.org/d3.v4.js"></script>
<script>
  // SETTING UP THE SVG
  const margin = {
    top: 15,
    right: 42,
    bottom: 30,
    left: 23
  };
  let docWidth = document.getElementById("graph").clientWidth;
  let width = docWidth - margin.left - margin.right;
  const height = (width * .6) - margin.top - margin.bottom;

  const svg = d3.select("body").selectAll(".card-body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");


  // PARSING THE STOCK DATA
  const data = JSON.parse('{{ data | tojson | safe }}');

  function getPrices() {
    return data.map(d => d.price);
  }

  function getDates() {
    return data.map(d => d.date);
  }

  let max = d3.max(getPrices()),
    min = d3.min(getPrices()),
    range = max - min;

  let lineData = getPrices().map(num => height - num);
  lineData = getPrices().map(num => ((max - num) / range) * height);

  lineData = lineData.map((num, i, data) => [i * (width / 22), num]);

  // var y = d3.scaleLinear()
  //   .range([height, 0]);

  // GENERATING THE STOCK LINE GRAPH
  let lineGenerator = d3.line()
    .curve(d3.curveNatural);
  let pathString = lineGenerator(lineData);


  // RIGHT AXIS
  let rightScale = d3.scaleLinear()
    .domain([max - (range * .05), min - (range * .05)])
    .range([0, height]);
  let rightAxisLine = d3.axisRight()
    .scale(rightScale)
    .ticks(5)
    .tickFormat(d3.format('$'));

  // BOTTOM AXIS
  let dates = getDates();
  let parseTime = d3.timeParse("%d-%b-%y");

  dates = dates.map(d => parseTime(d));

  let bottomScale = d3.scaleTime()
    .range([0, width])
    .domain(d3.extent(dates));
  let bottomAxisLine = d3.axisBottom()
    .scale(bottomScale)
    .ticks(5);


  // APPEND THE SVG
  svg.append('path')
    .attr('d', pathString);

  svg.append('g')
    .attr('class', 'rightAxis')
    .attr("transform", "translate(" + (width) + ", 0)")
    .call(rightAxisLine);

  svg.append('g')
    .attr('class', 'bottomAxis')
    .attr("transform", "translate(0," + height + ")")
    .call(bottomAxisLine);
</script>

{% endblock %}
